[Unit]
Description=Data Management Group Apache Kafka broker
After=network.target

[Service]
User=kafka
Group=kafka
Environment="LOG_DIR=/var/log/kafka"
Environment="JMX_PORT=9990"
WorkingDirectory=/var/opt/dm_group/kafka
ExecStart=/opt/dm_group/kafka/start-kafka-service.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
