[Unit]
Description=Apache ZooKeeper
After=network.target

[Service]
Type=forking
User=zookeeper
Environment=ZOO_LOG_DIR=/var/log/dm_group/zookeeper
WorkingDirectory=/var/opt/dm_group/zookeeper
ExecStart=/opt/dm_group/zookeeper/start-zookeeper-service.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
