[Unit]
Description=Apache ZooKeeper
After=network.target

[Service]
Type=forking
User=zookeeper
Environment=ZOOCFGDIR=/etc/opt/dm_group/zookeeper ZOO_LOG_DIR=/var/log/zookeeper
WorkingDirectory=/var/opt/dm_group/zookeeper
ExecStart=/opt/dm_group/zookeeper/bin/zkServer.sh start
Restart=on-abort

[Install]
WantedBy=multi-user.target
